<?xml version="1.0"?>
<package xmlns="http://schemas.microsoft.com/packaging/2015/06/nuspec.xsd">
  <metadata>
    <id>urx</id>
    <version>__VERSION__</version>
    <title>Urx (URL extractor)</title>
    <authors>hahwul</authors>
    <copyright>hahwul</copyright>
    <projectUrl>https://urx.hahwul.com</projectUrl>
    <iconUrl>https://raw.githubusercontent.com/hahwul/urx/main/docs/static/icons/web-app-manifest-512x512.png</iconUrl>
    <projectSourceUrl>https://github.com/hahwul/urx</projectSourceUrl>
    <packageSourceUrl>https://github.com/hahwul/urx/tree/main/packaging/chocolatey</packageSourceUrl>
    <licenseUrl>https://github.com/hahwul/urx/blob/main/LICENSE</licenseUrl>
    <requireLicenseAcceptance>false</requireLicenseAcceptance>
    <docsUrl>https://urx.hahwul.com</docsUrl>
    <bugTrackerUrl>https://github.com/hahwul/urx/issues</bugTrackerUrl>
    <tags>security osint recon url wayback bugbounty cli</tags>
    <summary>Extracts URLs from OSINT Archives for Security Insights.</summary>
    <description>Urx collects URLs for a domain from OSINT archives such as the Wayback Machine, Common Crawl and OTX, then filters, tests and outputs them for security research.</description>
    <releaseNotes>https://github.com/hahwul/urx/releases/tag/__TAG__</releaseNotes>
  </metadata>
  <files>
    <file src="tools\chocolateyinstall.ps1" target="tools" />
  </files>
</package>
